<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Moosik</title>
    <link rel="stylesheet" type="text/css" href="/assets/index.css">
  </head>
  <body>
    <div id="container">
      <div id="title">
        <h1 id="heading">Moosik</h1>
      </div>
      <div id="twitter-wrapper">
          <div id="twitter-box">
            <a class="login-btn" href="/auth/twitter">Twitter</a>
          </div>
      </div>
    </div>
  </body>
</html>
