
nav a {
  color: #fff;
  font-size: 18px;
  background: #0084b4;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

#title {
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
}

#heading {
  margin: 30px auto;
  width: 50%;
  text-align: center;
  font-family: Impact, Arial Black, Arial;
}

#subheading {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#btn-wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#get-tweets {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #0084b4;
}

#album-image {
  height: 600px;
  width: 600px;
}
